$bg-color: #E9F5FF;

// WHITE
$color-white: #FFFFFF;

// BLACK
$color-black: #000000;
$color-black-1: #2B2B2B;

// BLUE
$color-blue: #233D82;
$color-blue-1: #E9F5FF;
$color-blue-2: #0016BE;
$color-blue-3: #233D82E5;

// GREY
$color-grey: #969696;
$color-grey-1: #f1f1f1;

// RED
$color-red: #D73C4A;
$color-red-1: #C63131;
$color-red-2: #EF6060;

// YELLOW
$color-yellow: #E7BE34;

// GREEN
$color-green: #02BC63;
$color-green-1: #00C366;
$color-green-2: #00C366;


