
.table-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  margin-bottom: 4rem;

  &__search {
    max-width: 765px;
    flex-grow: 1;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-left: auto;
  }
}
